body{
    overflow-x: hidden;
    background-color: #FFFFFF !important;
}

.textl:hover{
    color: #215eb4;
}


.plusicon_image{
    color: #2e2e2eac !important;
}

.fpc2{
    margin-top: 25px !important;
}

.btn-final{
    font-family: 'Inter', sans-serif;
    margin-top: 50px;
    background-color: #13325D;
    border: none;
    border-radius: 6px;
    height: 40px;
    width: 200px;
}

.fc_cp_date1{
    margin-left: 20%;
    border: 1px dashed #2e2e2e67;
    width: 50%;
    margin-top: 20px;
    font-size: 13px;
}

.fc_cp_date2{
    margin-left: -30%;
    width: 50%;
    font-size: 13px;
    border: 1px dashed #2e2e2e67;
    margin-top: 20px;
}


.text-title-add{
    margin-left: 8%;
    margin-top: 50px;
    font-size: 22px;
    color: #3C3C50;
}

.fc_cp{
    margin-top: 50px;
    margin-left: 8% !important;
    margin-right: 8% !important;
    width: 25%;
    border: 1px dashed #2e2e2e67;
    font-size: 12px;
    height: 40px !important;
}

.add_image{
    cursor: pointer;
    height: 45vh !important;
    border: 1px dashed #2e2e2e67;
    border-radius: 10px;
    margin-left: 8%;
    margin-right: 8%;
}

.card{
    border: none;
}

.dashboard{
    background-color: #13325D;
    height: 50px !important;
}
.mensajes-title{
    font-size: 15px;
    
}
.dashboard-title{
    margin-top: 50px;
    margin-left: 9%;
    font-size: 20px;
    color: #696969;
    font-weight: 400;
}
.alertme{
    margin-top: 20% !important;
    width: 70%;
    margin-left: auto;
    font-size: 14px;
    margin-right: auto;
}

.title-modal{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #1a1a1a;
    margin-left: 10px;
}

.mda_1{
    cursor: pointer;
    margin-top: 20px;
}

.closebtnsection{
    margin-top: -30px;
    padding-left: 10px !important;
}

.listgroup_images{
    margin-left: 8%;
    margin-right: 8%;
    width: 84%;
    font-size: 12px;
    border-radius: 6px;
}

.mda-2{
    margin-bottom: 20px;
}

.mda-title{
    margin-left: 8px;
    font-family: 'Poppins', sans-serif;
}

.title-section{
    width: 100%;
    margin-right: 10px;
    margin-left: 10px;
    border: 1px dashed #2e2e2e67;
    font-size: 12px;
    height: 40px !important;
}

.description-section{
    border: 1px dashed #2e2e2e67;
    font-size: 12px;
    height: 100px !important;
    margin-top: 20px;
}

.btn-final2{
    font-family: 'Inter', sans-serif;
    margin-top: 30px;
    background-color: #13325D;
    border: none;
    font-size: 12px;
    border-radius: 6px;
    height: 30px;
    width: 150px;
}

.card-section{
    margin-top: 50px;
    margin-left: 8%;
    margin-right: 8%;
    width: 84%;
    border: 1px solid #2e2e2e46;
    font-size: 12px;
    height: 270px !important;
    border-radius: 6px;
}

.btn-read{
    background-color: #11315E !important;
    border: none;
    margin-right: auto;
    font-family: 'Poppins', sans-serif;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    font-size: 15px;
    height: 40px;
    margin-top: 50px;
}
.textl{
    color: #737578;
    margin-top: 7px;
    font-size: 13px;
    margin-left: 20px;
}

.hometext{
    margin-top: 5px;
}
.btn-logout{
    background-color: #11315E;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.logodashboard{
    width: 50px;
    height: 50px;
    margin-left: 100px;
    margin-top: 25px;
}

.textl.active-link {
    background-color: #11315E;
    color: white !important;
    border-radius: 5px;
    padding: 8px 12px;
    margin-right: 20px;
  }

  .textp{
    color: #737578;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 11px;
    margin-left: 35px;
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ocupa toda la altura de la pantalla */
    width: 100vw; /* Opcional para asegurar ancho completo */
    background-color: #FFFFFF; /* Fondo claro para el loader */
    position: fixed; /* Fija el loader en la pantalla */
    top: 0;
    left: 0;
    z-index: 1050; /* Asegura que esté sobre otros elementos */
  }
  
  .loader {
    color: #007bff; /* Color del spinner */
    font-size: 1rem;
  }


.add-section{
    margin-top: 50px;
    margin-left: 8%;
    margin-right: 8%;
    width: 84%;
    border: 1px dashed #2e2e2e67;
    font-size: 12px;
    height: 175px !important;
    border-radius: 6px;
    cursor: pointer;
}

.text-add-section{
    color: #2E2E2E;
    font-size: 18px;
    font-weight: 600;
    margin-left: 20px;
}

.alert-21{
    margin-top: 20px;
    width: 90%;
}
  
  @media (max-width: 771px) {
    .card-section{
        margin-left: 4%;
        margin-right: 4%;
        width: 92%;
    }
    
    .text-add-section{
        font-size: 14px;
    }
    
    .fc_cp_date2{
        margin-left: 8% !important;
        margin-right: 8% !important;
        width: 84% !important;
    }
    .fc_cp_date1{
        margin-left: 8% !important;
        margin-right: 8% !important;
        width: 84% !important;
    }
  }
  @media (max-width: 991px) {
    .fc_cp{
        width: 84% !important;
    }

}