@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ocupa toda la altura de la pantalla */
    width: 100vw; /* Opcional para asegurar ancho completo */
    background-color: #FFFFFF; /* Fondo claro para el loader */
    position: fixed; /* Fija el loader en la pantalla */
    top: 0;
    left: 0;
    z-index: 1050; /* Asegura que esté sobre otros elementos */
  }
  
  .loader {
    color: #EDB04F; /* Color del spinner */
    font-size: 1rem;
  }
