@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    overflow-x: hidden;
    background-color: #FFFFFF !important;
}

.textl:hover{
    color: #215eb4;
}

.dashboard{
    background-color: #13325D;
    height: 50px !important;
}
.mensajes-title{
    font-size: 15px;
    
}
.dashboard-title{
    margin-top: 50px;
    margin-left: 9%;
    font-size: 20px;
    color: #696969;
    font-weight: 400;
}
.alertme{
    margin-top: 20% !important;
    width: 70%;
    margin-left: auto;
    font-size: 14px;
    margin-right: auto;
}

.btn-read{
    background-color: #11315E !important;
    border: none;
    margin-right: auto;
    font-family: 'Poppins', sans-serif;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    font-size: 15px;
    height: 40px;
    margin-top: 50px;
}
.textl{
    color: #737578;
    margin-top: 7px;
    font-size: 13px;
    margin-left: 20px;
}

.hometext{
    margin-top: 5px;
}
.btn-logout{
    background-color: #11315E;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.logodashboard{
    width: 50px;
    height: 50px;
    margin-left: 100px;
    margin-top: 25px;
}

.textl.active-link {
    background-color: #11315E;
    color: white !important;
    border-radius: 5px;
    padding: 8px 12px;
    margin-right: 20px;
  }

  .textp{
    color: #737578;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 11px;
    margin-left: 35px;
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ocupa toda la altura de la pantalla */
    width: 100vw; /* Opcional para asegurar ancho completo */
    background-color: #f8f9fa; /* Fondo claro para el loader */
    position: fixed; /* Fija el loader en la pantalla */
    top: 0;
    left: 0;
    z-index: 1050; /* Asegura que esté sobre otros elementos */
  }
  
  .loader {
    color: #007bff; /* Color del spinner */
    font-size: 1rem;
  }

  .row-cards{
    margin-top: 50px !important;
    margin-right: 3%;
    margin-left: 3%;
  }
  
  .package-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que la imagen cubra todo sin deformarse */
  }

  .package-card {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
    aspect-ratio: 1 / 1; /* Mantiene la tarjeta cuadrada */
    display: flex;
    flex-direction: column;
    transition: transform 0.2s ease-in-out;
  }
  
  .package-card:hover {
    transform: scale(1.02); /* Pequeño efecto de zoom */
    cursor: pointer;
}
  
  .package-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6); /* Oscurece la imagen */
    color: white;
    text-align: center;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .package-card:hover .package-info {
    opacity: 1; /* Muestra el título en hover */
  }
  
  .delete-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    background: #FFFFFF;
    border: none;
    color: #666666;
    font-size: 18px;
    font-weight: bold;
    width: 30px;
    height: 30px;
    border-radius: 2px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
  }
  
  .delete-btn:hover {
    background: rgb(206, 206, 206);
  }

  .delete-modal{
    font-family: 'Poppins', sans-serif;
  }
  
@media (max-width: 771px) {
    .package-info {
        opacity: 1;
    }
    
    .delete-btn {
        width: 50px;
        font-size: 24px;
        height: 50px;
    }    
}
